{% extends "layout.twig" %}

{% block local_header %}
    <div class="wide-photo"></div>
{% endblock %}

{% block content %}
    <h1>{{ ruseng('Добро пожаловать', 'Welcome') }}</h1>

    {% if lang == 'en' %}
        <p>The Russian-Nordic Youth Forum «Northern Dialogue» is a unique platform for comprehensive interaction of the youth of Russia and the countries of Northern Europe. It is an opportunity for constructive dialogue between future leaders of their countries.

        <p>«Northern Dialogue» is also aimed at establishing strong ties between young people of Russia and Nordic countries.</p>

        <p>The Forum will take place on <b>April 8 - 12, 2019</b> at MGIMO-University and will bring together active young people as well as those professionals who are actively involved in the bilateral relations of Russia and the countries of Northern Europe.</p>

        <p>The official languages of the Forum are <b>English</b> and <b>Russian</b>.</p>

        <p>If you care about the future of our countries and the development of their bilateral relations in particular, you are mostly welcome to take part in the first Russian-Nordic Youth Forum «Northern Dialogue»!</p>
    {% elseif lang == 'ru' %}
        <p>Российско-скандинавский молодежный форум «Северный диалог» — это первая в своем роде площадка для всеобъемлющего взаимодействия молодежи России и стран Северной Европы.</p>

        <p>«Северный диалог» — это уникальный проект, направленный на установление прочных связей между представителями молодежи России и стран Северной Европы, а также платформа для всестороннего диалога будущих лидеров своих стран.</p>

        <p>Форум будет проходить <b>с 8 по 12 апреля 2019 года</b> в МГИМО МИД России и объединит как активных молодых людей, так и уже состоявшихся профессионалов, деятельность которых связана с двусторонними отношениями России со странами Северной Европы.</p>

        <p>Официальные языки Форума — <b>русский</b> и <b>английский</b>.</p>

        <p>Если Вам небезразлично будущее наших государств и то, как будут развиваться наши двусторонние отношения, то мы ждем Вас в рядах участников первого Российско-скандинавского молодежного форума «Северный диалог»!</p>
    {% endif %}

    <div class="df jcc">
        <a href="{{ dict('registration-form-url') }}" target="_blank" class="tdn usn registration-button">
            {{ ruseng('Зарегистироваться', 'Apply now') }}
        </a>
    </div>

    <h2>{{ ruseng('Об Организаторе', 'About the Organizer') }}</h2>

    {% if lang == 'en' %}
        <p><b>Scandinavian Club MGIMO Nordlys</b> (Norw. «northern lights») is a student-run organization at MGIMO-University founded in order to provide students with an opportunity to explore Scandinavian region, policies, economies and legal systems of Nordic countries and their relations with Russia. The Club`s activity is aimed at establishing strong ties with the countries of the region in various areas.</p>
    {% elseif lang == 'ru' %}
        <p><b>Скандинавский клуб МГИМО Nordlys</b> (норв. «северное сияние») — это студенческое объединение в рамках МГИМО МИД России, созданное с целью предоставить обучающимся возможность всестороннего изучения Скандинавского региона, политики, экономики и права скандинавских стран и их взаимоотношений с Российской Федерацией и другими странами и регионами мира, а также с целью способствовать укреплению и развитию диалога Российской Федерации со странами региона и установлению прочных связей в различных сферах деятельности.</p>
    {% endif %}

    <h2>{{ ruseng('Наши спикеры', 'Our speakers') }}</h2>

    See «<a href="{{ path_for('speakers-page') }}">speakers</a>» and «<a href="{{ path_for('programme-page') }}">programme</a>» pages.

    <h2>{{ ruseng('Свежие новости', 'Latest news') }}</h2>

    <div class="news">
        {% set news = [
            {
                date: ruseng('8 апреля', 'Apr 8th'),
                text: ruseng('Приветствуем вас, наши дорогие участники, спикеры, слушатели, гости и все, кто следит за первым в своем роде молодёжным форумом «Северный диалог»! Рады сообщить вам, что вчера состоялось торжественное открытие нашего форума, и сегодня начинается его основная программа. Мы приготовили для вас множество сюрпризов, увлекательных мероприятий и познавательных дискуссий. Впрочем, обо всем по порядку. Итак, сегодня наших участников ждёт:
<ul>
<li>Прогулка по Красной площади, без которой не обходится ни одна поездка в Москву,</li>
<li>Посещение Собора Василия Блаженного – не только «того самого храма со всех открыток», но и объекта из списка Всемирного наследия ЮНЕСКО,</li>
<li>Посещение парка «Зарядье» - уникального парка-музея, где природа пробуждается от зимнего сна,</li>
<li>Прогулка по Китай-городу – историческому району Москвы, где живёт история,</li>
</ul>
<p>И, разумеется, в 16:00 в фойе Конференц-зала начнется ПЕРВАЯ СЕКЦИЯ ФОРУМА «КУЛЬТУРНОЕ СОТРУДНИЧЕСТВО» (гиперссылка на пост о секции), где расскажут о трудностях перевода скандинавской литературы, а также о кинематографе северных стран и его пути в Россию.</p>
<p>Кроме того, после секции мы приглашаем вас в ауд.214 на показ фильма «Контики» на языке оригинала с английскими субтитрами.</p>

<p/>Оставайтесь с нами!</p>', 'Dear participants, speakers, guests and everyone who is interested in the first of the kind youth forum “Nothern Dialogue”. We are happy to inform you that our forum is officially open and our program starts today. We’ve prepared many interesting and exciting events for you, and we can’t help telling you about some of them. So, today our participants will:

<ul>
<li>Walk around the Red Square – a must for a tourist in Moscow,</li>
<li>Visit Saint Basil’s Cathedral – not only “that Russian church from a post card”, but also an object from UNESCO Cultural Heritage List,</li>
<li>Visit “Zaryadye” to admire Russian nature that wakens after the winter and educate themselves,</li>
<li>Walk around Kitay-gorod – a historic district, where history itself lives,</li>
</ul>

<p>And, of course, today at 16:00 we are welcoming you to attend THE FIRST FORUM SECTION “CULTURAL COOPERATION”, where we will tell you about beautiful and marvelous cinema and literature of Scandinavian countries and the image of Nothern culture in Russia.</p>

<p>Moreover, after the session we invite you to watch the film “Kontiki” in room 214 and discuss it in English.</p>

<p>Stay tuned!</p>')
            },
            {
                date: ruseng('12 Февраля', 'Feb 12th'),
                text: ruseng('Представляем Вашему вниманию предварительную <a href="/programme#social-programme">культурную программу</a> Форума!', 'The preliminary <a href="/programme#social-programme">social programme</a> is available now!')
            },
            {
                date: ruseng('31 Января', 'Jan 31th'),
                text: ruseng('Рады приветствовать гостей сайта!', 'We are glad to welcome the guests of our website!')
            },
            {
                date: ruseng('25 Января', 'Jan 25th'),
                text: ruseng('Регистрация открыта!', 'Registration is now open!')
            }
        ] %}

        {% for news_item in news %}
            <div class="news-item" data-time="{{ news_item.date }}">
                {{ news_item.text|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}