{% extends "layout.twig" %}

{% block local_header %}
    <div class="wide-photo"></div>
{% endblock %}

{% block content %}
    <h1>{{ ruseng('Добро пожаловать', 'Welcome') }}</h1>

    {% if lang == 'en' %}
        <p>The Russian-Nordic Youth Forum «Northern Dialogue» is a unique platform for comprehensive interaction of the youth of Russia and the countries of Northern Europe. It is an opportunity for constructive dialogue between future leaders of their countries.

        <p>«Northern Dialogue» is also aimed at establishing strong ties between young people of Russia and Nordic countries.</p>

        <p>The Forum will take place on <b>April 8 - 12, 2019</b> at MGIMO-University and will bring together active young people as well as those professionals who are actively involved in the bilateral relations of Russia and the countries of Northern Europe.</p>

        <p>The official languages of the Forum are <b>English</b> and <b>Russian</b>.</p>

        <p>If you care about the future of our countries and the development of their bilateral relations in particular, you are mostly welcome to take part in the first Russian-Nordic Youth Forum «Northern Dialogue»!</p>
    {% elseif lang == 'ru' %}
        <p>Российско-скандинавский молодежный форум «Северный диалог» — это первая в своем роде площадка для всеобъемлющего взаимодействия молодежи России и стран Северной Европы.</p>

        <p>«Северный диалог» — это уникальный проект, направленный на установление прочных связей между представителями молодежи России и стран Северной Европы, а также платформа для всестороннего диалога будущих лидеров своих стран.</p>

        <p>Форум будет проходить <b>с 8 по 12 апреля 2019 года</b> в МГИМО МИД России и объединит как активных молодых людей, так и уже состоявшихся профессионалов, деятельность которых связана с двусторонними отношениями России со странами Северной Европы.</p>

        <p>Официальные языки Форума — <b>русский</b> и <b>английский</b>.</p>

        <p>Если Вам небезразлично будущее наших государств и то, как будут развиваться наши двусторонние отношения, то мы ждем Вас в рядах участников первого Российско-скандинавского молодежного форума «Северный диалог»!</p>
    {% endif %}

    <div class="df jcc">
        <a href="{{ dict('registration-form-url') }}" target="_blank" class="tdn usn registration-button">
            {{ ruseng('Зарегистироваться', 'Apply now') }}
        </a>
    </div>

    <h2>{{ ruseng('Об Организаторе', 'About the Organizer') }}</h2>

    {% if lang == 'en' %}
        <p><b>Scandinavian Club MGIMO Nordlys</b> (Norw. «northern lights») is a student-run organization at MGIMO-University founded in order to provide students with an opportunity to explore Scandinavian region, policies, economies and legal systems of Nordic countries and their relations with Russia. The Club`s activity is aimed at establishing strong ties with the countries of the region in various areas.</p>
    {% elseif lang == 'ru' %}
        <p><b>Скандинавский клуб МГИМО Nordlys</b> (норв. «северное сияние») — это студенческое объединение в рамках МГИМО МИД России, созданное с целью предоставить обучающимся возможность всестороннего изучения Скандинавского региона, политики, экономики и права скандинавских стран и их взаимоотношений с Российской Федерацией и другими странами и регионами мира, а также с целью способствовать укреплению и развитию диалога Российской Федерации со странами региона и установлению прочных связей в различных сферах деятельности.</p>
    {% endif %}

    <h2>{{ ruseng('Наши спикеры', 'Our speakers') }}</h2>

    {% if lang == 'en' %}
        <p><b>Elena Dorofeyeva</b> — a literary critic and translator, an expert on the history
            of Finnish literature, the author of articles on Finnish and Scandinavian writers,
            the author of the idea and compiler of the book At the Source of Russian Scandinavian Studies:
            Portraits of Philologists and Translators (2018).</p>
    {% elseif lang == 'ru' %}
        <p><b>Елена Дорофеева</b> — литературовед и переводчик, специалист по истории литературы Финляндии,
            автор статей о финских и скандинавских писателях, автор идеи и составитель книги
            "У истоков российской скандинавистики: портреты филологов и переводчиков" (2018).</p>
    {% endif %}

    {% if lang == 'en' %}
        <p><b>Natalia Goncharova</b> — a cinema project manager of the CoolConnections art association
            (festivals "Danish Wave", "Sweden's New Cinema", "Norwegian Film Festival", Finnish Film Festival).</p>
    {% elseif lang == 'ru' %}
        <p><b>Наталья Гончарова</b> — куратор кинопроектов арт-объединения CoolConnections
            (фестивалей "Danish Wave", "Новое кино Швеции", "Фестиваль норвежского кино", Фестиваль кино Финляндии).</p>
    {% endif %}

    {% if lang == 'en' %}
        <p><b>Kristina Ivannikova</b> — a film expert, post-graduate student of VGIK, curator of the “Drifting Scandinavia”
            film club in the Museum of Cinema, author of articles on the formation and development of Finnish cinema.</p>
    {% elseif lang == 'ru' %}
        <p><b>Кристина Иванникова</b> — Киновед, аспирант ВГИК, куратор киноклуба «Дрейфующая Скандинавия» в Музее кино,
            автор статей, посвящённых становлению и развитию финского кинематографа.</p>
    {% endif %}

    {% if lang == 'en' %}
        <p><b>Roman Dorofeev</b> — Director for film distribution of the Russian Reporting Television Agency
            (“The Second Life of Uwe”, “Bergman”, “The Hunt”, “Britt-Marie was Here” and over 50 more Scandinavian films)</p>
    {% elseif lang == 'ru' %}
        <p><b>Роман Дорофеев</b> — Директор по кинопрокату Телевизионного агенства «Русский Репортаж»
            («Вторая жизнь Уве», «Бергман», «Охота», «Здесь была Бритт-Мари» и ещё более 50 скандинавских кинокартин)</p>
    {% endif %}

    {% if lang == 'en' %}
        <p><b>Elena Rachinskaya</b> — philologist, translator from the Norwegian language, employee of the culture
            department of the Norwegian Embassy in Moscow, Winner of NORLA’s Translator’s Award (2008, Non-Fiction)</p>
    {% elseif lang == 'ru' %}
        <p><b>Елена Рачинская</b> — филолог, переводчик с норвежского языка, сотрудник отдела культуры
            посольства Норвегии в Москве, Лауреат премии Норвежского государственного литературного агенства НОРЛА</p>
    {% endif %}

    <h2>{{ ruseng('Свежие новости', 'Latest news') }}</h2>

    <div class="news">
        {% set news = [
            {
                date: ruseng('12 Февраля', 'Feb 12th'),
                text: ruseng('Представляем Вашему вниманию предварительную <a href="/programme#social-programme">культурную программу</a> Форума!', 'The preliminary <a href="/programme#social-programme">social programme</a> is available now!')
            },
            {
                date: ruseng('31 Января', 'Jan 31th'),
                text: ruseng('Рады приветствовать гостей сайта!', 'We are glad to welcome the guests of our website!')
            },
            {
                date: ruseng('25 Января', 'Jan 25th'),
                text: ruseng('Регистрация открыта!', 'Registration is now open!')
            }
        ] %}

        {% for news_item in news %}
            <div class="news-item" data-time="{{ news_item.date }}">
                {{ news_item.text|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}