{% extends "layout.twig" %}

{% set title = ruseng('Оргкомитет', 'Organizing Committee') %}

{% block content %}
    <h2>{{ ruseng('Огранизаторы', 'Organizers') }}</h2>

    {% if lang == 'en' %}
        <p><b>Scandinavian Club MGIMO Nordlys</b> is a student-led public organization founded by students at MGIMO-University in November 2016. The main objectives of the Club are comprehensive research of Northern Europe, including political, economic, cultural and historical aspects as well as strengthening and developing youth relations between Russia and the countries of the region.</p>

        <p>Scandinavian Club is one of the fastest evolving student organizations at MGIMO-University. The members of the Club are more than 30 students from all faculties of MGIMO-University and representatives from other Moscow Universities, such as HSE and MSLU.</p>

        <p>Throughout its functioning, the Club has organized more than 20 scientific and cultural events, including conferences, round tables, lectures, business games, etc.</p>

        <p>Official web-page: <a href="https://vk.com/scandinavianclubmgimo" target="_blank">vk.com/scandinavianclubmgimo</a></p>
    {% elseif lang == 'ru' %}
        <p><b>Скандинавский клуб МГИМО Nordlys</b> – студенческая общественная организация, созданная студентами МГИМО МИД России в ноябре 2016 года. Основными целями клуба являются комплексное исследование Северной Европы, включая политические, экономические, правовые, культурные и исторические аспекты, а также укрепление и развитие молодежных связей между Россией и странами региона.</p>

        <p>Скандинавский клуб является одной из самых быстроразвивающихся студенческих организаций МГИМО, в актив которой входят более 30 студентов со всех факультетов университета, а также представители других московских ВУЗов, среди которых НИУ ВШЭ и МГЛУ.</p>

        <p>За время своего существования клубом было организовано более 20 мероприятий как научной, так и культурной направленности, в том числе конференции, круглые столы, лекции, деловые игры и т.д.</p>

        <p>Официальная страница: <a href="https://vk.com/scandinavianclubmgimo" target="_blank">vk.com/scandinavianclubmgimo</a></p>
    {% endif %}

    <p><b>MGIMO-University</b> is the best Russian university for international students who are interested in studying foreign affairs and Russian studies. Its courses are modern, exciting and intellectually challenging. The University offers a broad range of undergraduate and graduate programs — from international law, political science, business management, energy policy and even digital economy.</p>

    <p>Website: <a href="mgimo.ru" target="_blank">mgimo.ru</a></p>

    <p><b>MGIMO Endowment Foundation</b>, established in 2007, is the oldest and biggest one Russia. The aim of the Foundation is to accumulate target capital for long-term development of MGIMO-University and project financing in accordance with current university priorities.</p>

    <p>Website: <a href="fund.mgimo.ru" target="_blank">fund.mgimo.ru</a></p>

    <h2>{{ ruseng('Организационный комитет', 'Organizing Committe') }}</h2>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/250b0d04-f6be-4ed2-b904-79d5d28acbe6.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Никита Липунов', 'Nikita Lipunov') }}</div>
            <div class="person__job">{{ ruseng('Head of the Organizing Committee') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/5b8296db-ed25-4ba0-a20d-be7e5231ef02.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Ангелина Архипова', 'Angelina Arkhipova') }}</div>
            <div class="person__job">{{ ruseng('External relations') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/c7b2b27f-9a7c-4f33-974e-35732994a213.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Милена Салина', 'Milena Salina') }}</div>
            <div class="person__job">{{ ruseng('Recruitment of participants') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/f0c7ad7d-bc23-40e7-a739-7861f4756bad.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Элина Каспинская', 'Elina Kaspinskaya') }}</div>
            <div class="person__job">{{ ruseng('Social programme') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/a9582e51-c100-4159-bd0a-2e4fb4dc77f1.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Тимофей Штахов', 'Timophey Shtakhov') }}</div>
            <div class="person__job">{{ ruseng('«Political Cooperation»') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/0615ec99-f79c-425a-b1ad-428a1da30f6b.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Павел Курпас', 'Pavel Kurpas') }}</div>
            <div class="person__job">{{ ruseng('«Economic and Energy Cooperation»') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/daab9753-4782-443a-9841-704bbb745ca9.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Анастасия Гонтарь', 'Anastasia Gontar') }}</div>
            <div class="person__job">{{ ruseng('«Environmental Cooperation»') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/210670f9-7069-4b4c-b72b-cf6a35267bd5.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Николина Порохина', 'Nicolina Porokhina') }}</div>
            <div class="person__job">{{ ruseng('«Cultural Exchange»') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/3b286a33-1d05-4e4c-b875-31645901898c.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Андрей Кучук', 'Andrey Kuchuk') }}</div>
            <div class="person__job">{{ ruseng('Model CBSS') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/4d16d99e-041e-44f4-83b7-b46310b449a0.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Юлия Матвеева', 'Julia Matveeva') }}</div>
            <div class="person__job">{{ ruseng('Press-secretary') }}</div>
        </div>
    </div>

    <div class="person clearfix">
        <img class="person__image" src="https://capella.pics/e548c9fc-27fe-440b-8250-8e204615b93c.jpg/crop/160">
        <div class="person__info">
            <div class="person__name">{{ ruseng('Мария Пожаринская', 'Maria Pozharinskaya') }}</div>
            <div class="person__job">{{ ruseng('PR, design') }}</div>
        </div>
    </div>

{% endblock %}