{% extends "layout.twig" %}

{% set title = ruseng('Участникам', 'For participants') %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if lang == 'en' %}
        <p>«Northern Dialogue» includes two formats of participation:</p>

        <ul>
            <li>рarticipant</li>
            <li>guest</li>
        </ul>

        <p>The «participant» format means active participation in all events of the main and social programme of the Forum, including the Youth Day. All participants will receive Certificates of participation at the end of the Forum.</p>

        <p>The «guest» format means participation in the main programme as a listener only (Certificate of participation is not given).</p>

        <div class="df jcc">
            <a href="{{ dict('registration-form-url') }}" target="_blank" class="tdn usn registration-button">
                {{ ruseng('Зарегистироваться', 'Apply now') }}
            </a>
        </div>

        <p>Participation in the Forum is <b>free</b>. All travelling expenses, accommodation and catering costs are covered <b>by the participants</b>.</p>
    {% elseif lang == 'ru' %}
        <p>В рамках «Северного диалога» предусмотрено 2 формата участия:</p>

        <ul>
            <li>участник</li>
            <li>слушатель</li>
        </ul>

        <p>Формат «участник» предполагает активное участие во всех мероприятиях основной и культурной программы форума, включая Молодежный день. Все участники по окончании форума получат сертификаты об участии.</p>

        <p>Формат «слушатель» предполагает только участие в основной программе в качестве слушателя (сертификат об участии не выдается).</p>

        <div class="df jcc">
            <a href="{{ dict('registration-form-url') }}" target="_blank" class="tdn usn registration-button">
                {{ ruseng('Зарегистироваться', 'Apply now') }}
            </a>
        </div>

        <p>Участие в форуме <b>бесплатное</b>. Все транспортные расходы, а также расходы на проживание и питание оплачиваются участниками <b>самостоятельно</b>.</p>
    {% endif %}

    <h2>{{ ruseng('Все о путешествии в Россию', 'Travelling to Russia') }}</h2>

    {% if lang == 'en' %}
        <p>Besides organizing the Forum itself, we are interested in ensuring your comfortable travel to «Northern Dialogue». Therefore, we are actively working to assist our foreign participants in obtaining a visa to Russia. Our support consists in providing you with a telex number, which makes receiving a visa significantly easier compared to the standard procedure, but it does not free you from the responsibility of finding out the details of applying for the Russian visa in your country.</p>

        <p>Very soon You’ll find here detailed information about the Russian visa requirements, convenient flights, accommodation options and everything You need to know about travelling to Russia.</p>
    {% elseif lang == 'ru' %}
        <p>Скоро здесь появится подробная информация о порядке получения российской визы, удобным авиарейсам, ближайшим к МГИМО вариантам размещения, а также иная полезная информация о путешествии в Россию!</p>
    {% endif %}

    <h3>{{ ruseng('Рейсы в Москву и обратно', 'Flights to Moscow and back') }}</h3>

    {% set countries = [
        {
            name: ruseng('Норвегия', 'Norway'),
            shortname: 'no',
            routes: [
                {
                    name: 'Bergen - Moscow - Bergen',
                    link: 'https://www.momondo.com/flight-search/BGO-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                },
                {
                    name: 'Oslo - Moscow - Oslo',
                    link: 'https://www.momondo.com/flight-search/OSL-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                },
                {
                    name: 'Tromsø - Moscow - Tromsø',
                    link: 'https://www.momondo.com/flight-search/TOS-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        },
        {
            name: ruseng('Швеция', 'Sweden'),
            shortname: 'se',
            routes: [
                {
                    name: 'Stockholm - Moscow - Stockholm',
                    link: 'https://www.momondo.com/flight-search/STO-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        },
        {
            name: ruseng('Исландия', 'Iceland'),
            shortname: 'is',
            routes: [
                {
                    name: 'Keflavík - Moscow - Keflavík',
                    link: 'https://www.momondo.com/flight-search/KEF-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        },
        {
            name: ruseng('Финлядия', 'Finland'),
            shortname: 'fi',
            routes: [
                {
                    name: 'Helsinki - Moscow - Helsinki',
                    link: 'https://www.momondo.com/flight-search/HEL-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        },
        {
            name: ruseng('Дания', 'Denmark'),
            shortname: 'dk',
            routes: [
                {
                    name: 'Kastrup - Moscow - Kastrup',
                    link: 'https://www.momondo.com/flight-search/CPH-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        },
        {
            name: ruseng('Фарерские острова', 'Faroe Islands'),
            shortname: 'fo',
            routes: [
                {
                    name: 'Sørvagur - Moscow - Sørvagur',
                    link: 'https://www.momondo.com/flight-search/FAE-MOW/2019-04-07-flexible/2019-04-13-flexible?sort=price_a'
                }
            ]
        }
    ] %}

    {% for country in countries %}
        <div class="flights-item">
            <h4>{{ country.name }} <span class="flag flag--{{ country.shortname }}"></span></h4>

            {% for route in country.routes %}
                <p><a href="{{ route.link }}" target="_blank">{{ route.name }}</a></p>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}