<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>Skeleton</title>
    <link href="{{ filemtime('/public/bundle.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="?lang=en">en</a> • <a href="?lang=ru">ru</a> • <a href="?lang=fr">fr</a>

    <div class="page">
        <a href="/">{{ dict('Main page') }}</a>

        <h1>{{ dict('Hello World!') }}</h1>
    </div>

    <script src="{{ filemtime('/public/bundle.js') }}"></script>
</body>
</html>

