<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="{{ lang }}">
    <title>{{ title ?: dict('Northern Dialogue') }}</title>
    <meta name="description" content="{{ dict('Russian-Scandinavian Youth Forum') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content>
    <meta property="og:site_name" content="{{ dict('Northern Dialogue') }}">
    <meta property="og:image" content="/public/meta-image.png">
    <meta property="og:type" content="article">
    <link href="{{ filemtime('/public/bundle.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="lang-panel">
        <a href="?lang=en" class="lang-panel__item lang-panel__item--en"></a>
        <a href="?lang=ru" class="lang-panel__item lang-panel__item--ru"></a>
    </div>

    <div class="header">
        <div class="header__logos">
            <div class="header__logos-item header__logos-item--mgimo"></div>
            <div class="header__logos-item header__logos-item--forum"></div>
            <div class="header__logos-item header__logos-item--nso"></div>
        </div>

        <span class="header__title">{{ dict('Russian-Scandinavian Youth Forum') }}</span>
        <span class="header__title header__title--forum-name">{{ dict('Northern Dialogue') }}</span>
    </div>

    <ul class="menu">
        <li class="menu__item">
            <a href="{{ path_for('main-page') }}">{{ dict('Main page') }}</a>
        </li>

        <li class="menu__item">
            {{ dict('Program') }}
        </li>

        <li class="menu__item">
            {{ dict('Speakers') }}
        </li>

        {#<li class="menu__item">#}
            {#<a href="{{ path_for('news-page') }}">{{ dict('News') }}</a>#}
        {#</li>#}

        <li class="menu__item">
            <a href="{{ path_for('participation-page') }}">{{ dict('For participants') }}</a>
        </li>

        <li class="menu__item">
            <a href="{{ path_for('partnership-page') }}">{{ dict('For partners') }}</a>
        </li>

        <li class="menu__item">
            <a href="{{ path_for('contacts-page') }}">{{ dict('Contacts') }}</a>
        </li>

        {#<li class="menu__item">#}
            {#<a href="{{ dict('registration-form-url') }}" target="_blank">{{ dict('Registration') }}</a>#}
        {#</li>#}
    </ul>

    {% block local_header %}
        <hr>
    {% endblock %}

    <div class="page column">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <span class="icon--facebook"></span>
        <span class="icon--facebook"></span>
        <span class="icon--facebook"></span>
    </div>

    <script src="{{ filemtime('/public/bundle.js') }}"></script>
</body>
</html>

