<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="{{ lang }}">

    <title>{{ title ?: ruseng('Северный Диалог', 'Northern Dialogue') }}</title>
    <meta name="description" content="{{ ruseng('Российско-скандинавский молодежный форум', 'Russian-Scandinavian Youth Forum') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content>
    <meta property="og:site_name" content="{{ ruseng('Северный Диалог', 'Northern Dialogue') }}">
    <meta property="og:image" content="/public/meta-image.png">
    <meta property="og:type" content="article">

    <link href="{{ filemtime('/public/bundle.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="lang-panel">
        <a href="?lang=en" class="lang-panel__item lang-panel__item--en"></a>
        <a href="?lang=ru" class="lang-panel__item lang-panel__item--ru"></a>
    </div>

    <div class="header">
        <div class="header__logos">
            <div class="header__logos-item header__logos-item--nso"></div>
            <div class="header__logos-item header__logos-item--forum header__logos-item--bigger"></div>
            <div class="header__logos-item header__logos-item--mgimo"></div>
        </div>

        <span class="header__title">{{ ruseng('Российско-скандинавский молодежный форум', 'Russian-Scandinavian Youth Forum') }}</span>
        <span class="header__title header__title--forum-name">{{ ruseng('Северный Диалог', 'Northern Dialogue') }}</span>
    </div>

    <ul class="menu">
        <li class="menu__item">
            <a href="{{ path_for('main-page') }}">{{ ruseng('Главная страница', 'Main page') }}</a>
        </li>

        {#<li class="menu__item">#}
            {#<a href="{{ path_for('program-page') }}">{{ ruseng('Program') }}</a>#}
        {#</li>#}

        <li class="menu__item">
            <a href="{{ path_for('speakers-page') }}">{{ ruseng('Спикеры', 'Speakers') }}</a>
        </li>

        {#<li class="menu__item">#}
            {#<a href="{{ path_for('news-page') }}">{{ ruseng('News') }}</a>#}
        {#</li>#}

        <li class="menu__item">
            <a href="{{ path_for('participation-page') }}">{{ ruseng('Участникам', 'For participants') }}</a>
        </li>

        <li class="menu__item">
            <a href="{{ path_for('partnership-page') }}">{{ ruseng('Партнерам', 'For partners') }}</a>
        </li>

        <li class="menu__item">
            <a href="{{ path_for('contacts-page') }}">{{ ruseng('Контакты', 'Contacts') }}</a>
        </li>

        {#<li class="menu__item">#}
            {#<a href="{{ dict('registration-form-url') }}" target="_blank">{{ dict('Registration') }}</a>#}
        {#</li>#}
    </ul>

    {% block local_header %}
        <hr class="mb40">
    {% endblock %}

    <div class="page column">
        {% block content %}{% endblock %}
    </div>

    <hr>

    <div class="footer column">
        <div>
            <p class="footer__name">
                <b>«{{ dict('Northern Dialogue') }}»</b>
            </p>

            <p class="footer__icons">
                <a href="https://www.facebook.com/nordlysmgimo/" target="_blank"><span class="icon icon--facebook"></span></a>
                <a href="https://vk.com/northerndialogue" target="_blank"><span class="icon icon--vk"></span></a>
                <a href="https://www.instagram.com/scandinavianclub/" target="_blank"><span class="icon icon--instagram"></span></a>
            </p>

            <p>
                <a href="mailto:northerndialogue@mail.ru">northerndialogue@mail.ru</a>
            </p>
        </div>

        <div class="footer__event">
            <p>{{ ruseng('8 - 12 апреля 2019', 'April 8 - 12, 2019') }}</p>

            <p>{{ ruseng('МГИМО Университет', 'MGIMO University') }}</p>

            <p>
                <a href="https://www.google.com/maps/place/Moscow+State+Institute+of+International+Relations/@55.6728244,37.4824732,17z/data=!3m1!4b1!4m5!3m4!1s0x46b54daf59234abf:0x960854570f206625!8m2!3d55.6728244!4d37.4846619" target="_blank">
                    {{ ruseng('проспект Вернадского, 76, Москва', '76, Prospect Vernadskogo, Moscow') }}
                </a>
            </p>
        </div>
    </div>

    {#<script src="{{ filemtime('/public/bundle.js') }}"></script>#}
</body>
</html>

